
*.iml
*.xml
/idea/
/data/
.idea/dictionariesgit
.idea/$CACHE_FILE$
.idea/dictionaries
__pycache__/

dataset/YelpChi.mat
dataset/YelpChi_hand.zip
dataset/YelpChi_hand.mat
.Ds_Store
*/.Ds_Store
*/__pycache__
dataset/DBLP4057_GAT_with_idx_tra200_val_800.mat
